<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="com.emobilis.listview"
    platformBuildVersionCode="25"
    platformBuildVersionName="7.1.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <meta-data
        android:name="android.support.VERSION"
        android:value="25.3.1" />

    <application
        android:theme="@ref/0x7f0800a3"
        android:label="@ref/0x7f060021"
        android:icon="@ref/0x7f030000"
        android:debuggable="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:roundIcon="@ref/0x7f030001">

        <activity
            android:name="com.emobilis.listview.MainActivity">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.emobilis.listview.Webit" />

        <activity
            android:name="com.emobilis.listview.webit2" />

        <service
            android:name="com.android.tools.fd.runtime.InstantRunService"
            android:exported="true" />
    </application>
</manifest>
